* {
    margin: 0;


}

body {

    overflow-x: hidden;
}

h2 {
    color: rgb(70, 113, 229);
    font-family: arial;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenido {
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.boton1 {
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 10px;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.4s;
    text-align: center;
    font-size: 15px;
}


.boton1:hover {
    background: white;
    color: rgb(70, 113, 229);
}

.boton2 {
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 10px;
    border: 3px solid rgb(70, 113, 229);
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.4s;
    text-align: center;
    font-size: 15px;
}

.boton2:hover {
    background: rgb(70, 113, 229);
    color: white;
    text-decoration: none;
}



.select1 {
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 10px;
    border: 3px solid white;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    transition: all 0.4s;
    text-align: center;
    font-size: 15px;
}

.select1:hover {
    background: white;
    color: rgb(70, 113, 229);
}

.menu {
    margin: auto;
    z-index: 1;
    position: absolute;
    font-family: arial;
    top: 0px;
    left: 20px;
    width: 100%;

    color: white;
    padding-right: 40px;
}

.nav {

    top: 0px;
    margin-top: 0%;
    padding-top: 20px;
    padding-left: 45%;
}



.nosotrosNav {
    padding-top: calc(1% + 100px);
    padding-left: calc(1% + 100px);
    left: 10px;
    width: 300px;
    object-fit: cover;
}

.nosotrosNav h1 {
    font-size: 20pt;
}

.nosotrosNav h2 {
    color: white;
    font-size: 18pt;
    font-family: arial;
    text-decoration: none;
    padding-right: 10px;
}

.menu a {
    color: white;
    font-size: 18pt;
    font-family: arial;
    text-decoration: none;
    padding-right: 10px;
}

.menu a:hover {
    text-decoration: underline;
}

.lupa {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 18pt;
}

.titulo {

    padding-top: 10px;
    display: flex;
    padding-left: 100px;
}

.titulo h1 {}

.titulo a {}

.titulo a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.cabecera {

    margin: auto;
    display: block;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.fondocss {
    width: 100%;
}

.elements {
    z-index: 2;
    display: flex;

    position: absolute;
    font-family: arial;
    top: 10px;
    left: 70%;
    color: white;

}

/* #video-backround{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} */




/* ofrecemos */
.quienes_somos {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-top: 10px;
    margin-bottom: 20px;
    font-family: arial;
    text-decoration: none;
}

.quienes_somos a {
    color: rgb(70, 113, 229);
    font-family: arial;
    text-decoration: none;
}

.quienes_somos a:hover {
    text-decoration: underline;
}

.quienes_somos_imagen img {
    width: 90%;
    height: 90%;
    border-radius: 5%;
    object-fit: cover;
}

.texto {
    font-size: 0.8rem;
    z-index: 1;
    position: absolute;
    font-family: arial;
    top: 10px;
    left: 30px;
    color: white;
    text-align: center;
}

/* nuestras metodologias  */
.metodologias {
    display: block;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

.metodologias_texto {
    width: 90%;
    height: 100%;
}

.metodologias_imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    padding-left: 10px;


}

.metodologias_imagenes img {
    width: 100%;
    height: 100%;




}

.galeria {
    display: inline-flex;
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.galeria2 {
    display: inline-flex;
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}


.imagenes {
    width: 70%;
    height: 70%;
    object-fit: cover;
    cursor: pointer;
}

/* footer */
.elementosFooter {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.social i {
    font-size: 30px;
    padding: 10px;
    color: white;
    transition: all 0.4s;
}

.social i:hover {
    opacity: 20%;
}

.footer {
    background-color: rgb(70, 113, 229);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: arial;
    text-decoration: none;
    width: 100%;
    padding-right: 10%;
}

.direccion {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: arial;
    text-decoration: none;
}

.hacemos a {

    color: white;
    font-family: arial;
    text-decoration: none;
}





/* bussines inteligence */

.bussines_inteligence {
    width: 100%;
    height: 500px;
}

.bussines_inteligence_texto {
    padding: 5%;
    padding-right: 5%;
    margin-top: 30px;
    margin-left: calc(45% - 80px);
    width: 40%;
    height: 45%;
    position: absolute;
    background-color: #3cddf3;

}

.bussines_inteligence img {

    z-index: -1;
    width: 100%;
    height: 80%;
    object-fit: cover;

    padding-bottom: 30px;

}

/* socios de negocios */

.nuestros_servicios_imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10px;
}

.nuestros_servicios_imagenes img {
    width: 50%;
    height: 50%;

}

/* certificados  */
.certificados {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-top: 10px;
    margin-bottom: 20px;
    font-family: arial;
    text-decoration: none;
}


.certificados_imagen img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.certificados_texto h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(55, 55, 55);
    font-family: arial;
    text-decoration: none;
}